# Stock Market Indices - Ticker Web Scraping and Data download

*** 
## Load required libraries

In [1]:
import  pylab as pl

from pylab import plot,show
from numpy import vstack,array
from numpy.random import rand
import numpy as np

from scipy.cluster.vq import kmeans,vq
from math import sqrt

from sklearn.cluster import KMeans

import pandas as pd
import pandas_datareader as dr

from matplotlib import pyplot as plt

***
## Scrape ticker data
There is no consistency among wiki pages that list index constituents. You will need to adjust your code to make sure you can download most of the available data. 

### 1. Execute **one** of the four market cells below:

In [2]:
# US market - S&P500
index_url = 'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies' 
ticker_column_name='Symbol'  # This is the name of the column containing tickers on the Wikipedia page. 
yahoo_suffix=''
table_idx=0

In [3]:
# Brazilian stock exchange - Ibovespa
index_url = 'https://en.wikipedia.org/wiki/List_of_companies_listed_on_B3' 
ticker_column_name='Ticker[4]'
yahoo_suffix='.SA'
table_idx=0

In [13]:
# UK - FTSE
index_url = 'https://en.wikipedia.org/wiki/FTSE_250_Index'
ticker_column_name='Ticker[4]' #'Ticker'
yahoo_suffix='.L'
table_idx=2 #0

In [5]:
# Canada - TSX
#index_url = 'https://en.wikipedia.org/wiki/S%26P/TSX_Composite_Index'
#ticker_column_name='Ticker'
#yahoo_suffix='.TO'
#table_idx=1  # for example, in this link, the list of companies is located in the second table

### 2. Scrape ticker data from the link

In [12]:
data_table

[                  0                                           1
 0
 1        Foundation                                        1984
 2          Operator                                  FTSE Group
 3         Exchanges                       London Stock Exchange
 4      Constituents              250 (consisting of 101 to 350)
 5              Type                                     Mid cap
 6        Market cap  £419.0 billion(as at 30 September 2021)[1]
 7  Weighting method               Capitalisation-weighted index
 8   Related indices                FTSE 100 IndexFTSE 350 Index
 9           Website                        FTSE UK Index Series,
    Year Total return
 0  2012        26.1%
 1  2013        32.3%
 2  2014         3.7%
 3  2015        11.2%
 4  2016         6.7%
 5  2017        17.8%
 6  2018       -13.3%
 7  2019        28.9%
 8  2020        -4.6%
 9  2021        16.9%,
                                Company Ticker[4]
 0                    3i Infrastructure       3IN
 1                             4imprint      FOUR
 2                         888 Holdings       888
 3    Aberforth Smaller Companies Trust       ASL
 4                       Alliance Trust      ATST
 ..                                 ...       ...
 245                           Wizz Air      WIZZ
 246                         Wood Group        WG
 247                    Workspace Group       WKP
 248         Worldwide Healthcare Trust       WWH
 249                           XP Power       XPP

 [250 rows x 2 columns],
   .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vteFTSE 100 ← FTSE 250 companies of the United Kingdom  \
 0  3i Infrastructure 4imprint 888 Holdings Aberfo...

   .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vteFTSE 100 ← FTSE 250 companies of the United Kingdom.1
 0  3i Infrastructure 4imprint 888 Holdings Aberfo...                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                ,
         vteMajor United Kingdom stock market indices  \
 0  FT 30 FTSE 100 Index FTSE 250 Index FTSE 350 I...

       vteMajor United Kingdom stock market indices.1
 0  FT 30 FTSE 100 Index FTSE 250 Index FTSE 350 I...  ,
    vte Economy of the United Kingdom  \
 0                         Companiese
 1     Currency,governance,regulation
 2                            History
 3                      Chronological
 4                          Recurrent
 5             Nations,regions,cities
 6                            England
 7                    NorthernIreland
 8                           Scotland
 9                              Wales
 10                  Peopleand labour
 11                           Sectors
 12            Resource andproduction
 13                 Financialservices
 14                             Other
 15    Trade andbusinessorganisations
 16                 Category  Commons

                   vte Economy of the United Kingdom.1
 0   Co-operatives Employee-owned companies FTSE 10...
 1   Bank of England Governor of the Bank of Englan...
 2   Chronological 1659–1849 Navigation Acts Agricu...
 3   1659–1849 Navigation Acts Agricultural Revolut...
 4   Economic geography Free trade Gold standard Re...
 5   England Atlantic Gateway Birmingham Big City P...
 6   Atlantic Gateway Birmingham Big City Plan Bris...
 7                                   Belfast Transport
 8   Aberdeen Agriculture Edinburgh Industrialisati...
 9     Cardiff (Cardiff Bay) Swansea Tourism Transport
 10  Billionaires Businesspeople Demography Income ...
 11  Resource andproduction Energy/Renewable energy...
 12  Energy/Renewable energy Biodiesel Coal Geother...
 13  Baltic Exchange Banking List of banks List of ...
 14  Education Entertainment & Media Cinema Gamblin...
 15  Business organisations British Bankers' Associ...
 16                                  Category  Commons  ,
                0                                                  1
 0  Chronological  1659–1849 Navigation Acts Agricultural Revolut...
 1      Recurrent  Economic geography Free trade Gold standard Re...,
                  0                                                  1
 0          England  Atlantic Gateway Birmingham Big City Plan Bris...
 1  NorthernIreland                                  Belfast Transport
 2         Scotland  Aberdeen Agriculture Edinburgh Industrialisati...
 3            Wales    Cardiff (Cardiff Bay) Swansea Tourism Transport,
                         0                                                  1
 0  Resource andproduction  Energy/Renewable energy Biodiesel Coal Geother...
 1       Financialservices  Baltic Exchange Banking List of banks List of ...
 2                   Other  Education Entertainment & Media Cinema Gamblin...]

In [14]:
# read in the url and scrape ticker data
data_table = pd.read_html(index_url,keep_default_na=False)
# Option keep_default_na=False prevents pandas from reading “NA” as NaN
# This came up when reading in TSX data for ticker "NA" for National Bank of Canada. The ticker was read as nan value

# get the list of ticker symbols
tickers = data_table[table_idx][ticker_column_name].tolist()

In [15]:
data_table

[                  0                                           1
 0
 1        Foundation                                        1984
 2          Operator                                  FTSE Group
 3         Exchanges                       London Stock Exchange
 4      Constituents              250 (consisting of 101 to 350)
 5              Type                                     Mid cap
 6        Market cap  £419.0 billion(as at 30 September 2021)[1]
 7  Weighting method               Capitalisation-weighted index
 8   Related indices                FTSE 100 IndexFTSE 350 Index
 9           Website                        FTSE UK Index Series,
    Year Total return
 0  2012        26.1%
 1  2013        32.3%
 2  2014         3.7%
 3  2015        11.2%
 4  2016         6.7%
 5  2017        17.8%
 6  2018       -13.3%
 7  2019        28.9%
 8  2020        -4.6%
 9  2021        16.9%,
                                Company Ticker[4]
 0                    3i Infrastructure       3IN
 1                             4imprint      FOUR
 2                         888 Holdings       888
 3    Aberforth Smaller Companies Trust       ASL
 4                       Alliance Trust      ATST
 ..                                 ...       ...
 245                           Wizz Air      WIZZ
 246                         Wood Group        WG
 247                    Workspace Group       WKP
 248         Worldwide Healthcare Trust       WWH
 249                           XP Power       XPP

 [250 rows x 2 columns],
   .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vteFTSE 100 ← FTSE 250 companies of the United Kingdom  \
 0  3i Infrastructure 4imprint 888 Holdings Aberfo...

   .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vteFTSE 100 ← FTSE 250 companies of the United Kingdom.1
 0  3i Infrastructure 4imprint 888 Holdings Aberfo...                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                ,
         vteMajor United Kingdom stock market indices  \
 0  FT 30 FTSE 100 Index FTSE 250 Index FTSE 350 I...

       vteMajor United Kingdom stock market indices.1
 0  FT 30 FTSE 100 Index FTSE 250 Index FTSE 350 I...  ,
    vte Economy of the United Kingdom  \
 0                         Companiese
 1     Currency,governance,regulation
 2                            History
 3                      Chronological
 4                          Recurrent
 5             Nations,regions,cities
 6                            England
 7                    NorthernIreland
 8                           Scotland
 9                              Wales
 10                  Peopleand labour
 11                           Sectors
 12            Resource andproduction
 13                 Financialservices
 14                             Other
 15    Trade andbusinessorganisations
 16                 Category  Commons

                   vte Economy of the United Kingdom.1
 0   Co-operatives Employee-owned companies FTSE 10...
 1   Bank of England Governor of the Bank of Englan...
 2   Chronological 1659–1849 Navigation Acts Agricu...
 3   1659–1849 Navigation Acts Agricultural Revolut...
 4   Economic geography Free trade Gold standard Re...
 5   England Atlantic Gateway Birmingham Big City P...
 6   Atlantic Gateway Birmingham Big City Plan Bris...
 7                                   Belfast Transport
 8   Aberdeen Agriculture Edinburgh Industrialisati...
 9     Cardiff (Cardiff Bay) Swansea Tourism Transport
 10  Billionaires Businesspeople Demography Income ...
 11  Resource andproduction Energy/Renewable energy...
 12  Energy/Renewable energy Biodiesel Coal Geother...
 13  Baltic Exchange Banking List of banks List of ...
 14  Education Entertainment & Media Cinema Gamblin...
 15  Business organisations British Bankers' Associ...
 16                                  Category  Commons  ,
                0                                                  1
 0  Chronological  1659–1849 Navigation Acts Agricultural Revolut...
 1      Recurrent  Economic geography Free trade Gold standard Re...,
                  0                                                  1
 0          England  Atlantic Gateway Birmingham Big City Plan Bris...
 1  NorthernIreland                                  Belfast Transport
 2         Scotland  Aberdeen Agriculture Edinburgh Industrialisati...
 3            Wales    Cardiff (Cardiff Bay) Swansea Tourism Transport,
                         0                                                  1
 0  Resource andproduction  Energy/Renewable energy Biodiesel Coal Geother...
 1       Financialservices  Baltic Exchange Banking List of banks List of ...
 2                   Other  Education Entertainment & Media Cinema Gamblin...]

In [8]:
tickers[0:20]

['ARE',
 'AEM',
 'AC',
 'AGI',
 'AQN',
 'ATD',
 'AP.UN',
 'ALA',
 'AIF',
 'ARX',
 'ATZ',
 'AX.UN',
 'ACO.X',
 'ATA',
 'AUP',
 'ACB',
 'BTO',
 'BDGI',
 'BLDP',
 'BMO']

### 3. Amend tickers to be consistent with the Yahoo server

In [9]:
# Replace substring in list of strings 
# TCL.A - Transcontinental Inc. A-class shares is TCL-A.TO
adjusted_tickers = list(map(lambda st: str.replace(st, ".", "-"), tickers)) 

# For Yahoo tickers, some countries are listed with a specific suffix, e.g., Brasil's Sao Paolo has .SA
suffixed_tickers = [sub + yahoo_suffix for sub in adjusted_tickers]

suffixed_tickers[0:20]

['ARE.TO',
 'AEM.TO',
 'AC.TO',
 'AGI.TO',
 'AQN.TO',
 'ATD.TO',
 'AP-UN.TO',
 'ALA.TO',
 'AIF.TO',
 'ARX.TO',
 'ATZ.TO',
 'AX-UN.TO',
 'ACO-X.TO',
 'ATA.TO',
 'AUP.TO',
 'ACB.TO',
 'BTO.TO',
 'BDGI.TO',
 'BLDP.TO',
 'BMO.TO']

***

## Download data based on selected tickers

In [10]:
# First, try to download a small sample of stocks - for example the first 10 on the list
# Note, some indices are large and it may take 30-45 min for daily price data to download.

prices_list = []
for ticker in suffixed_tickers[0:10]:
    try:
        prices = dr.DataReader(ticker,'yahoo','01/01/2017')['Adj Close']
        prices = pd.DataFrame(prices)
        prices.columns = [ticker]
        prices_list.append(prices)
    except:
        pass
    prices_df = pd.concat(prices_list,axis=1)

prices_df.sort_index(inplace=True)

prices_df.head()

,ARE.TO,AEM.TO,AC.TO,AGI.TO,AQN.TO,ATD.TO,AP-UN.TO,ALA.TO,AIF.TO,ARX.TO
Date,,,,,,,,,,
2017-01-03,12.680073,53.505264,13.83,9.397234,8.958282,30.279463,29.815746,24.910864,27.946449,17.877571
2017-01-04,12.705331,53.255459,13.72,9.609924,8.982213,30.545923,29.452240,25.465569,28.664921,18.002655
2017-01-05,12.595877,55.790539,13.74,10.992440,8.950302,30.817225,29.468767,25.436378,28.222788,17.815042
2017-01-06,12.486419,54.948597,13.56,10.131994,8.942326,30.633129,29.443974,25.399883,28.001717,17.564896
2017-01-09,12.267507,53.940109,13.50,10.431702,8.934350,30.812382,29.270493,25.224712,27.863548,17.260029

In [11]:
# If the small set download went smoothly, download prices for all tickers:

prices_list = []
for ticker in suffixed_tickers:
    try:
        prices = dr.DataReader(ticker,'yahoo','01/01/2017')['Adj Close']
        prices = pd.DataFrame(prices)
        prices.columns = [ticker]
        prices_list.append(prices)
    except:
        pass
    prices_df = pd.concat(prices_list,axis=1)

prices_df.sort_index(inplace=True)

prices_df.head()

InvalidIndexError: Reindexing only valid with uniquely valued Index objects